@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">سامانه تولید لینک کوتاه</h1>

    <div class="row">
        <div class="mt-3">

            <strong>مراحل:</strong>
            <ul>
                <li>ابتدا باید <a href="/user/register">ثبت نام</a> کنید</li>
                <li>در صورتیکه ثبت نام کردید باید <a href="/user/login">لاگین</a> کنید</li>
                <li>بعد ورود به <a href="ShortUrl/List">صفحه تولید لینک کوتاه</a> برای شما نمایش داده میشود</li>
            </ul>
        </div>
    </div>
</div>
